*{
  padding: 0;
  margin: 0 auto;
  text-decoration: none;
  /*list-style: none;*/
  /*box-sizing: border-box;*/
}

header{
  font-family: montserrat;
  padding-bottom: 150px;
}

body{
  background-color: #D5D8DC;
  font-family: arial;
}

body.dark {
    color: #fff!important;
    background: #333!important;
}
body.dark .btn-toggle {
    background: #f1f1f1;
    color: #333;
}

textarea{
  resize: none;
  font-family: arial;
  font-size: 15px;
}
a.link{
  color: #F0F0F0;
}
a.gestion{
  color: orange;
}



/*HAUT DE PAGE*/

nav{
  background: #1F618D;
  z-index: 1;
  height: 80px;
  width: 100%;
  box-shadow: 0px 8px 12px rgba(0,0,0,0.19);
  position: fixed;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #1F618D;
  }
  #check:checked ~ ul{
    left: 0;
  }
}



/*PAGE*/

div#page{
  width: 80%;
}



/*A PROPOS*/

section#apropos{
  padding: 50px 0 100px;
}
h1.apropos{
  padding-bottom: 10px;
}
p.apropos{

}

div.apropos{
  border: 8px solid #0275d8;
  border-radius: 30Px;
}


/* VEHICULES */

section#vehicules{
  
}
table.vehicules{
  background-color: white;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0px 8px 12px rgba(0,0,0,0.16); 
  transition: all 0.5s ease-out;
}
table.vehicules:hover{
  padding: 15px;
}
h1.titre-vehicules{
  text-transform: uppercase;
  color: #333;
}
img.image-vehicules{
  width: 100%;
  max-width: 600px;
}
p.description{
  color: #333;
}
button.getaround{
  font-size: 16px;
  border: 0px;
  padding: 10px 20px;
  background-color: #61366b;
  color: white; 
  margin-bottom: 5px;
  cursor: pointer;
}
button.ouicar{
font-size: 16px;
  border: 0px;
  padding: 10px 20px;
  background-color: #008a83;
  color: white; 
  cursor: pointer;
}
span.prix_jour{
  background-color: #1F618D; 
  border-radius: 50px; 
  padding: 20px; 
  color: white
}
@media only screen and (min-width: 795px){
  img.image-vehicules{
      min-width: 600px;
    }
}
@media only screen and (max-width: 795px){

    img.image-vehicules{
      max-width: calc(100% - 1px);
    }
    img.map{
      max-width: calc(100% - 1px);
    }
    span.prix_jour{
      padding: 12px;
      font-size: 19px;
    }
}


/* AJOUTER UN VEHICULE */

i#add{
  font-size: 20px;
  color: white;
}
button.newAnnonce{
  border-radius: 50px; 
  padding: 20px;
  border: 0px;
  background-color: #0275d8;
  box-shadow: 0px 14px 12px rgba(0,0,0,0.28); 
  cursor: pointer;
  transition: all 0.4s ease-out;
}

button.newAnnonce:hover{
  padding: 22px;
  margin-bottom: 30px;
}



/*MODFIFIER ANNONCES */

textarea.ouicar{
  border: 4px solid #008a83;
  background-color: #7B8988;
  color: #F0F0F0;
}
textarea.getaround{
  border: 4px solid #61366b;
  background-color: #706772;
  color: #F1F1F1;
}

i#supp{
  font-size: 25px;
  color: red;
  transition: all 0.4s ease-out;
}
i#supp:hover{
  font-size: 27px;
}
i#edit{
  font-size: 25px;
  color: orange;
  transition: all 0.3s ease-out;
}
i#edit:hover{
  font-size: 27px;
}

@media only screen and (max-width: 600px){
  input.modif-titre{
    max-width: 70px;
  }
  textarea.modif-titre, textarea.getaround,  textarea.ouicar{
    max-width: 170px;
  }
}



/*CONTACT*/

section#contact{
  padding-top: 100Px;
}
div.style-contact{
  background-color: white;
  width: auto;
  border: 20px solid white;
  border-radius: 24px;
}
p.contact{
  padding: 10px 0 10px;
  color: #333;
}
img.map{
  width: 440px;
}



/*Modifier Titre*/

input.modif-titre{
  padding: 11px 50px;
  border: 0px solid
}
textarea.modif-titre{
  border: 0px solid;
}
input.btn-modif-titre{
  font-size: 16px;
  border: 0px;
  border-radius: 2px;
  padding: 10px 20px;
  background-color: #0275d8;
  color: white; 
  cursor: pointer;
}
button.modif-titre{
  font-size: 16px;
  border: 0px;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
}


/*BAS DE PAGE*/

footer{
  padding-top: 30px; 
  margin-top: 200px; 
  background-color: black;
  height: 130px;
}
p.footer{
  color: white;
}
a.footer{
  color: white;
}

   /*Mode dark */
/*  @media (prefers-color-scheme: light){
    body{
      background-color: #D5D8DC;
      color: #333;
    }
  }
  @media (prefers-color-scheme: dark){
    body{
      background-color: #333;
      color: #fff;
    }
  }

*/
div.btn-toggle{
  position: absolute;
  top: 90px; 
  right: 15px; 
  width: 50px; 
  height: 50px; 
  border-radius: 50px;
  background-color: #333; 
  color: #fff; 
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease-out 0.5s;
} 
div.btn-toggle:hover{
  padding: 2px;
  border: 3px solid #0275d8;

}
